---
- name: Create kickstart config
  template:
    src: "kickstart.cfg.j2"
    dest: "{{ kickstart_iso_storage }}/iso/kickstart.cfg"
    mode: 0644

- name: Create kickstart ISO image
  command: >
    xorrisofs -U -r -v -T -J -joliet-long -V '{{ kickstart_iso_name }}' -volset '{{ kickstart_iso_name }}'
    -A '{{ kickstart_iso_name }}' -b isolinux/isolinux.bin -c isolinux/boot.cat -no-emul-boot -boot-load-size 4
    -boot-info-table -eltorito-alt-boot -e images/efiboot.img -no-emul-boot
    -o "../{{ kickstart_iso_storage }}/{{ kickstart_iso_info.file_name }}{{ ('_'
    + (kickstart_iso_host.name|default(''))
    + '_')|replace('__','_') }}{{ kickstart_iso_host.ip|replace('.','-') }}.iso" .
  args:
    chdir: "{{ kickstart_iso_storage }}/iso"
  when: true
